/*about css start*/
.about2{
    display: flex;
    justify-content: center;
    background-color: orange;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.about-inner-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 3% 10% 0% 10%;
}
.about-inner-container2 img{
    margin: 0px 0px 30px 25px;
    height: 380px;
    width: 380px;
}
.about-msg2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    width: 55%;
}
.about-msg2 h1{
    display: flex;
    width: 100%;
    text-transform: none;
    justify-content: center;
    text-align: center;
    font-size: 42px;
    color: black;
    margin-bottom: 5px;
    border-radius: 50%;
}
.about-msg2 i{
    color: var(--brand--color--1);
}
.about-msg2 p{
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;  
    width: 100%;  
}
.about-msg2 p span{
    font-weight: 600;
    color: var(--brand--color--2);
}
.about-msg2 .services-btn{
    display: flex;
    justify-content: center;
    width: 100%;
}
.about-msg2 .services-btn a{
    display: flex;
    cursor: pointer;
    color: var(--brand--color--2);
    font-size: 18px;
    padding: 10px 25px 10px 25px;
    background-color: orange;
    border:  2px solid var(--brand--color--2);
    border-radius: 8px;
    margin-top: 0px;
}
.about-msg2 .services-btn a:hover{
    background-color: black;
    transition: .4s
}
/*about css end*/

@media only screen and (max-width: 1140px) {
    .about-inner-container2{
       flex-direction: column;
       
    }
    .about-msg2{
        align-items: flex-start;
        margin: 0px 10px 30px 10px;
        width: 100%;
    }
    .about-msg2 h1{
        font-size: 30px;
        text-align: left;
        justify-content: center
    }
    .about-msg2 p{
        padding: 8px;
        justify-content: center;
        text-align: center;
    } 
}
@media only screen and (max-width: 840px){
    .about2{
        height: 950px;
    }
    .about-inner-container2{
        margin: 0% 8% 0% 8%;
    }
    .about-msg2 h1{ 
        text-align: center;
    }
    .about-msg2 p{
        font-size: 17px;
        text-align: left;
        margin: 0px 0px 10px 0px;
    }
    .about-inner-container2 img{
        margin: 10px 0px 0px 0px;
        height: 300px;
        width: 300px;
    }
}  
@media only screen and (max-width: 440px){ 
    .about-inner-container2 img{
        margin: 30% 0px 10% 0px;
        height: 300px;
        width: 300px;
    }
    .about-msg2 .services-btn{
        justify-content: flex-start;
        padding-left: 10px;
    }
    .about-msg2 .services-btn a{
        font-size: 18px;
        padding: 10px 20px 10px 20px;
    }
} 
/*responsive about css end*/
