
/*about css start*/
.about{
    display: flex;
    justify-content: center;
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.about-inner-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 3% 8% 0% 8%;
}
.about-msg a{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-size: 30px;
    width: 100%;
    color: var(--brand--color--1);  
    margin-left: 0px;
}

.about-msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 0px 5px 0px 5px;
    margin: 0px 20px 10px 0px;
    width: 55%;       
}
.about-msg-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;       
}
.about-msg-2 img{
    width: 95%;
}
.about-msg h1{
    display: flex;
    width: 100%;
    text-transform: none;
    text-align: left;
    font-size: 42px;
    color: black;
    margin-bottom: 5px;
    border-radius: 50%;
}
.about-msg i{
    color: var(--brand--color--1);
}
.about-msg p{
    color: black;
    text-align: left;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;   
}
.about-msg p span{
    color: var(--brand--color--1);
    font-weight: 600;
}

.about-msg a{
    font-size: 25px;
}
.about-msg h2{
    display: flex;
    gap: 2px;
    padding: 0px;
}
/*about css end*/

/*responsive about css start*/
@media only screen and (max-width: 1140px) {
    .about{
        height: 100vh;
    }
    .about-inner-container{
        flex-direction: column-reverse;
        height: 100vh;
        padding-bottom: 50px;
    }
    .about-msg{
        margin: 30px 10px 30px 10px;
        width: 90%;
    }
    .about-msg a{
        font-size: 22px;
    }
    .about-msg h1{
        font-size: 28px;
        justify-content: center;
        text-align: center;
        padding: 0px 0px 0px 0px;
    }
    .about-msg p{
        font-size: 20px;
        text-align: center;
        padding: 0px;
    }
    .about-msg h2{
        justify-content: center;
        width: 100%;
    }
}
@media only screen and (max-width: 840px){
    .about{
        height: 100vh;
    }
    .about-inner-container{
        margin: 0% 5% 0% 5%;
    }
    .about-msg h1{
        padding: 0px 0px 0px 0px;
    }
    .about-msg p{
        font-size: 18px;
        text-align: center;
        margin: 0px 0px 10px 0px;
    }
    .about-inner-container img{
        height: 300px;
        width: 300px;
    } 
    .about-msg2 .services-btn a{
        font-size: 18px;
        padding: 10px 20px 10px 20px;
    }
}
@media only screen and (max-width: 440px){
    .about-msg h1{
        justify-content: flex-start;
        text-align: left;
        padding-left: 0px;
    }
    .about-msg h2{
        font-size: 18px;
        justify-content: flex-start;
        width: 100%;
    }
    .about-msg p{
        font-size: 18px;
        text-align: left;
        margin: 0px 0px 10px 0px;
    }
    .about-inner-container img{
        margin-top: 30%;
        height: 280px;
        width: 280px;
    } 
    .about-msg2 .services-btn a{
        font-size: 18px;
        padding: 10px 20px 10px 20px;
    }
}
/*responsive about css end*/