:root{
    --brand--color--1: #0CC0DF;
    --brand--color--2: #FFFFFF;
    --brand--color--3: #3498db;
}                            

.chatbot{
    position: fixed;
    background: #fff;
    bottom: 120px;
    right: 40px;
    width: 30%;
    transform: scale(0.5);
    transform-origin: bottom right;
    opacity: 0;
    pointer-events: none;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 1px 2px 10px orange;
    z-index: 999;
}
.chatbot-contact-form{
    border-radius: 10px;
    padding: 0px 15px 0px 15px;
    background-color: rgb(12, 192, 223, 0.2);
    box-shadow: 0px 4px 20px var(--brand--color--1);
}
.chatbot-contact-form form{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}
.chatbot-contact-form h3{
    color: var(--brand--color--3);
    font-size: 18px;
    padding: 10px 10px 10px 0px;
}
.chatbot-contact-form form input{
    font-family: "Roboto", sans-serif;
    padding: 10px;
    width: 350px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}
.chatbot-contact-form form textarea{
    font-family: "Roboto", sans-serif;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}
.chatbot-contact-form .btn-div{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
}
.chatbot-contact-form form button{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 35%;
    font-size: 18px;
    border-radius: 3px;
    border: none;
    padding: 8px;
    color: var(--brand--color--2);
    background-color: #1b2060;
}
.chatbot-contact-form form button:hover{
    background-color: #03062C;
    transition: .4s;
}
.show-chatbot .chatbot{
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}


.chatbot-close{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--brand--color--2);
    background-color: orange;
    padding: 8px 10px;
    cursor: pointer;
}
.chatbot-close i{
    font-size: 22px;
    color: var(--brand--color--2);
}
.chatbot .chatbot-contact-form{
    background-color: var(--brand--color--2);
}
.chatbot .chatbot-contact-form form{
    padding-top: 20px;
}
.chatbot .chatbot-contact-form input{
    width: 100%;
}

.lets-chat{
    display: flex;
    align-items: center;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 999;
}

.lets-chat h2{
    font-size: 20px;
    color: rgb(44, 44, 44);
    margin-right: 10px;
    animation: pulse .8s linear infinite;
    
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes pulse{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.15;
    }
    100%{
        scale: 1.01;
    }
}
.chatbot-toggler{
    height: 50px;
    width: 50px;
    background-color: orange;
    padding: 30px;
    border-radius: 50px;
    border: 2px solid var(--brand--color--2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: pulse .8s linear infinite;
}
.chatbot-toggler:hover{
    background-color: orangered;
}
.chatbot-toggler i{
    position: absolute;
    color: var(--brand--color--2);
    font-size: 30px;
}
.show-chatbot .chatbot-toggler :first-child,
.chatbot-toggler :last-child{
    opacity: 0;
}
.show-chatbot .chatbot-toggler :last-child{
    opacity: 1;
}
.show-chatbot .chatbot-toggler{
    transform: rotate(90deg);
}

@media only screen and (max-width: 1124px) {
    .chatbot{
        width: 43%;
    }
}
@media only screen and (max-width: 640px) {
    .chatbot{
        width: 90%;
        right: 20px;
    }
}


 /*responsive contact css start*/
 @media only screen and (max-width: 840px) {
    .chatbot-contact-form{
        border-radius: 10px;
        padding: 0px 15px 10px 15px;
    }
    .chatbot-contact-form form{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .chatbot-contact-form form h3{
        font-size: 12px;
    }
    .chatbot-contact-form form input{
        padding: 10px;
        width: 250px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
    }
    .chatbot-contact-form form textarea{
        padding: 10px;
    }
    .chatbot-contact-form form .btn-div{
        flex-direction: row;
    }
    .chatbot-contact-form form button{
        cursor: pointer;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 100px;
        font-size: 18px;
        border-radius: 5px;
        border: none;
        padding: 3%;
    }
}

/*responsive contact css end*/