:root{
    --brand--color--1: #0CC0DF;
    --brand--color--2: #FFFFFF;
    --brand--color--3: #3498db;
}                            

.chatbot{
    position: fixed;
    background: #fff;
    bottom: 120px;
    right: 30px;
    transform: scale(0.5);
    transform-origin: bottom right;
    opacity: 0;
    pointer-events: none;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 1px 2px 10px var(--brand--color--1);
    z-index: 999;
}
.show-chatbot .chatbot{
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}


.chatbot-close{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--brand--color--2);
    background-color: var(--brand--color--3);
    padding: 8px 10px;
    cursor: pointer;
}
.chatbot-close i{
    font-size: 22px;
    color: var(--brand--color--2);
}
.chatbot .contact-form{
    background-color: var(--brand--color--2);
}
.chatbot .contact-form form{
    padding-top: 20px;
}

.lets-chat{
    display: flex;
    align-items: center;
    position: fixed;
    right: 30px;
    bottom: 40px;
    z-index: 999;
}

.lets-chat h2{
    font-size: 20px;
    color: rgb(44, 44, 44);
    margin-right: 10px;
    animation: blink 1s linear infinite;
    
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
.chatbot-toggler{
    height: 50px;
    width: 50px;
    background-color: var(--brand--color--1);
    padding: 30px;
    border-radius: 50px;
    border: 2px solid var(--brand--color--2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.chatbot-toggler i{
    position: absolute;
    color: var(--brand--color--2);
    font-size: 30px;
}
.show-chatbot .chatbot-toggler :first-child,
.chatbot-toggler :last-child{
    opacity: 0;
}
.show-chatbot .chatbot-toggler :last-child{
    opacity: 1;
}
.show-chatbot .chatbot-toggler{
    transform: rotate(90deg);

}
