/*contact css start*/
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}
.contact-inner-container{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin: 0% 15% 0% 15%;  
    width: 100%;
}
.contact-msg{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: left;
    font-size: 45px;
    font-weight: 600;
    color: #031c2c;
}
.contact-msg span{
    color: var(--brand--color--1);
}
.contact-msg p{
    text-align: left;
    font-size: 45px;
    font-weight: 600;
    color: var(--brand--color--3);
    margin: 0px 0px 0px 0px;
}
.contact-links{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 20px;
}
.contact-links i{
    font-size: 80px;
    color: darkslategrey;
    font-weight: 100;
    
}
.contact-links i:hover{
    color: var(--brand--color--1);
    transition: .4s;
}
.contact-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-form{
    border-radius: 10px;
    padding: 0px 15px 0px 15px;
    background-color: rgb(12, 192, 223, 0.2);
    box-shadow: 0px 4px 20px var(--brand--color--1);
}
.contact-form form{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}
.contact-form h3{
    color: var(--brand--color--3);
    font-size: 18px;
    padding: 10px 10px 10px 0px;
}
.contact-form form input{
    font-family: "Roboto", sans-serif;
    padding: 10px;
    width: 350px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--brand--color--1);
}
.contact-form form textarea{
    font-family: "Roboto", sans-serif;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--brand--color--1);
}
.contact-form .btn-div{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
}
.contact-form form button{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 35%;
    font-size: 18px;
    border-radius: 3px;
    border: none;
    padding: 8px;
    color: var(--brand--color--2);
    background-color: var(--brand--color--3);
}
.contact-form form button:hover{
    background-color: var(--brand--color--1);
    transition: .4s;
}

/*contact css end*/

 /*responsive contact css start*/
 @media only screen and (max-width: 840px) {
    
    .contact{
        height: 80vh;
    }
    .contact-inner-container{
        flex-direction: column;
    }
    .contact-msg span{
        font-size: 34px;
    }
    .contact-msg{
        font-size: 34px;
        margin-bottom: 15px;
    }
    .contact-msg p{
        font-size: 34px;
    }
    .contact-links i{
        font-size: 40px;
    }
    .contact-form{
        border-radius: 10px;
        padding: 0px 15px 10px 15px;
        background-color: rgb(12, 192, 223, 0.2);
        box-shadow: 0px 4px 20px var(--brand--color--1);
    }
    .contact-form form{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .contact-form form h3{
        font-size: 12px;
    }
    .contact-form form input{
        padding: 10px;
        width: 250px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
    }
    .contact-form form textarea{
        padding: 10px;
    }
    .contact-form form .btn-div{
        flex-direction: row;
    }
    .contact-form form button{
        cursor: pointer;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 100px;
        font-size: 18px;
        border-radius: 5px;
        border: none;
        padding: 3%;
        color: var(--brand--color--2);
        background-color: var(--brand--color--1);
    }
}

/*responsive contact css end*/
