 
 /*hero css start*/
 .hero{
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #03062C;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding-top: 5%;
}

.image-overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 52%;
    height: 100vh;
    padding: 0% 0% 0% 8%;
    background-color: rgb(0, 0, 0, 0.0) ;
}
.image-overlay-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 100vh;
    padding: 0% 3% 0% 0%;
    background-color: rgb(0, 0, 0, 0.0) ;
}
.image-overlay-2 img{
    width: 75%;
}

.background-clip{
    position: fixed;
    height: 100vh;
    right: 0;
    bottom: 0;
    z-index: -1;
}


.inner-hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
    margin: 0% 15% 0% 15%;
}
.inner-hero-container h1{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: white;
    text-transform: uppercase;
    margin: 0px 0px 5px 0px;
}

.greet-msg{
    display: flex;
    justify-items: flex-start;
    text-align: left;
}
.greet-msg p{
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 8px;
}
.greet-msg p span{
    font-weight: bold;
    color: var(--brand--color--1);
} 
.learn-more{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.learn-more .btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--brand--color--2);
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    background-color: var(--brand--color--3);
    border-style: solid;
    border-color: var(--brand--color--3);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}
.learn-more .btn1 i{
    font-size: 20px;
}
.learn-more .btn1:hover{
    background-color: #2b83c2;
    border-color: #2b83c2;
    color: var(--brand--color--2);
    transition: .1s;
}
.learn-more .btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 2px solid orange;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}
.learn-more .btn2:hover{
    color: var(--brand--color--2);
    background-color: orange;
    transition: .1s;
}
/*hero css end*/



@media (min-aspect-ratio:16/9){
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9){
    .background-clip{
        width: auto;
        height: 100%;
    }
}




/*responsive hero css start*/
@media only screen and (max-width: 1024px) {
    .hero{
        width: 100%;
        height: 100vh;
    }
    .image-overlay{
        justify-content: center;
        width: 100%;
        height: 100vh;
        padding: 0% 0% 0% 0%;
    }
    .image-overlay-2{
        display: none;
        width: 0%;
    }
    .inner-hero-container{
        width: 100%;
        margin: 0% 5% 0% 5%;
    }
    .inner-hero-container h1{
        justify-content: center;
        font-size: 38px;
        margin: 10px 0px 10px 0px;
    }
    .greet-msg p{
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
        padding: 0px 20px;
    }
    .learn-more{
        justify-content: center;
    }
    .learn-more .btn1{
        font-size: 18px;
    }
    .learn-more .btn2{
        font-size: 18px;
    }
    
}

@media only screen and (max-width: 840px) {
    .hero{
        width: 100%;
    }
    .image-overlay{
        width: 100%;
        height: 100vh;
    }
    .inner-hero-container{
        max-width: 100%;
        margin: 0% 5% 0% 5%;    
    }
    .inner-hero-container h1{
        font-size: 28px;
        margin: 0px 0px 0px 0px;
    }
    .greet-msg p{
        font-size: 20px;
        letter-spacing: 0px;
        margin-bottom: 10px;
        padding: 0px 0px;
    }
    .learn-more{
        flex-direction: column;
        align-items: center;
    }
    .learn-more .btn1{
        margin: 0px 0px 5px 0px;
        width: 220px;
    } 
    .learn-more .btn2{
        width: 220px;
        margin: 5px 0px 0px 0px;
    } 
}
@media only screen and (max-width: 640px) {
    .inner-hero-container{
        padding: 10px 40px 0px 40px;
        width: 480px;
    }
    .learn-more a{
        font-size: 18px;
        padding: 15px 25px 15px 25px;
    }

}
/*responsive hero css end*/