/*portfolio css start*/
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    background-color: var(--brand--color--2);
    padding: 5% 5%;
}

.scroll-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0px 0px;
}
.scroll-buttons i{
    font-size: 45px;
    color: rgb(69, 218, 218);
    opacity:60%;
    margin: 0px 0px;
}
.scroll-buttons i:hover{
    scale: 1.2;
    color: var(--brand--color--3);
}
.scroll-left, .scroll-right {
  background-color: transparent;
  border: none;
  color: var(--brand--color--1);
  cursor: pointer;
  margin: 0 3px;
  transition: background 0.3s;
}



.portfolio h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: var(--brand--color--3);
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    text-transform: uppercase;
}
.inner-portfolio-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(241, 250, 252);
    padding: 30px 0px 5px 0px;
    width: 100%;
    border-top: 2px solid var(--brand--color--3);
    border-bottom: 2px solid var(--brand--color--3);
    border-radius: 5px;
    margin-bottom: 20px;
    overflow-x: scroll;
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.1);
}

.web1 h2{
    font-size: 15px;
    font-weight: 400;
    margin: 0px 30px 5px 30px;
}
.web2 h2{
    font-size: 15px;
    font-weight: 400;
    margin: 0px 20px 5px 20px;
}
.web3 h2{
    font-size: 15px;
    font-weight: 400;
    margin: 0px 20px 5px 20px;
}
.web-mobile h2{
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
}
.web1 img{
    cursor: pointer;
    margin: 0px 30px 10px 30px;
    height: 130px;
    width: 230px;
    transition: .4s;
    border: 1px solid var(--brand--color--3);
}
.web1 img:hover{
    scale: 1.02;
    box-shadow: 5px 2px 10px 5px var(--brand--color--1);
    transition: .4s;
}
.web2 img{
    cursor: pointer;
    margin: 0px 20px 10px 20px;
    height: 130px;
    width: 230px;
    transition: .4s;
    border: 1px solid var(--brand--color--3);
}
.web2 img:hover{
    scale: 1.02;
    box-shadow: 0px 4px 10px 6px var(--brand--color--1);
    transition: .4s;
}
.web3 img{
    cursor: pointer;
    margin: 0px 20px 10px 20px;
    height: 130px;
    width: 230px;
    border: 1px solid var(--brand--color--3);
    transition: .4s;
}
.web3 img:hover{
    scale: 1.02;
    box-shadow: 0px 4px 10px 6px var(--brand--color--1);
    transition: .4s;
}
.web-mobile img{
    cursor: pointer;
    margin: 0px 60px 10px 60px;
    height: 150px;
    width: 70px;
    transition: .4s;
    border: 1px solid var(--brand--color--3);
}
.web-mobile img:hover{
    scale: 1.02;
    box-shadow: 0px 4px 10px 6px var(--brand--color--1);
    transition: .4s;
}
.prototype-btn a{
    margin: 10px 30px 10px 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 8px;
    color: var(--brand--color--2);
    background-color: var(--brand--color--1);
    border-radius: 5px;
}
.prototype-btn a:hover{
    background-color: var(--brand--color--3);
    transition: .4s;
}
.prototype-btn-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prototype-btn-mobile a{
    margin: 10px 0px 10px 0px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: var(--brand--color--2);
    background-color: var(--brand--color--1);
    border-radius: 5px;
}
.prototype-btn-mobile a:hover{
    background-color: var(--brand--color--3);
    transition: .4s;
}
/*portfolio css end*/

 /*responsive portfolio css start*/
 @media only screen and (max-width: 1024px) {
    .portfolio{
        padding: 0% 0%;
    }
    .inner-portfolio-container{
        margin: 20px 10px ;
    }
    .prototype-btn a{
        font-size: 18px;
        width: 150px;
    }
    .prototype-btn-mobile a{
        font-size: 18px;
        width: 150px;
    }

}
/*responsive portfolio css end*/

