/*portfolio css start*/
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    background-color: var(--brand--color--2);
    padding: 5% 5%;
    margin-bottom: 20px;
}

.portfolio-cards-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0px 0px 30px 0px;
    gap: 25px;
}
.portfolio-header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: var(--brand--color--1);
    margin: 10px 0px 20px 0px;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
}
.card{
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/15.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    border: 1px solid var(--brand--color--1);
    border-radius: 10px;
    transition: .2s ease-in-out;
    box-shadow: 5px 8px 5px rgb(0, 0, 0, 0.5);
}

.card-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    height: 220px;
    color: var(--brand--color--2);
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(0, 0, 0, 0.7);
}
.card-inner img{
    width: 25%;
}
.explore-portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 600;
    border: 3px solid var(--brand--color--2);
    border-radius: 10px;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    background-color: var(--brand--color--2);
    padding: 15px 8px;
    width: 100%;
    z-index: 10;
    border-radius: 0px 0px 10px 10px;
}
.img-overlay{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 179, 255, 0.81);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    border-radius: 10px;
    color: var(--brand--color--2);
    opacity: 0;
    transition: .4s;
}
.img-overlay:hover{
    opacity: 1;
    transition: .4s;
}
.img-overlay.active {
  opacity: 1;
}



.scroll-buttons{
  /* Make sure it's visible in layout but hidden height-wise */
  display: block; /* or flex, depending on your layout */
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  background-color: var(--brand--color--2);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

/* When active, expand max-height to show content */
.scroll-buttons.show {
  max-height: 1000px; /* Adjust as needed */
}
.scroll-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.scroll-icons button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-buttons i{
    font-size: 30px;
    color: var(--brand--color--1);
    opacity:80%;
    margin: 0px 0px;
}
.scroll-buttons i:hover{
    color: var(--brand--color--3);
}
.scroll-left, .scroll-right {
  background-color: transparent;
  border: none;
  color: var(--brand--color--1);
  cursor: pointer;
  margin: 0 3px;
  transition: background 0.3s;
}



.portfolio h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: var(--brand--color--2);
    margin: 30px 0px 10px 0px;
    font-size: 24px;
    text-transform: uppercase;
}
.inner-portfolio-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(241, 250, 252);
    padding: 30px 0px 5px 0px;
    width: 100%;
    border-top: 2px solid var(--brand--color--3);
    border-bottom: 2px solid var(--brand--color--3);
    border-radius: 5px;
    margin-bottom: 20px;
    overflow-x: auto;
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.1);
}

.project-l{
    font-size: 15px;
    font-weight: 400;
    margin: 0px 10px 5px 10px;
}
.web1 h2{
    font-size: 15px;
    font-weight: 400;
    margin: 0px 30px 5px 30px;
}
.web2 h2{
    font-size: 15px;
    font-weight: 400;
    margin: 0px 20px 5px 20px;
}
.web3 h2{
    font-size: 15px;
    font-weight: 400;
    margin: 0px 20px 5px 20px;
}
.web-mobile h2{
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
}
.project-l img{
    cursor: pointer;
    margin: 0px 10px 10px 10px;
    height: 180px;
    width: 200px;
    transition: .4s;
    border-radius: 5px;
    border: 2px solid var(--brand--color--3);
}
.project-l img:hover{
    scale: 1.2;
    box-shadow: 5px 2px 10px 5px var(--brand--color--1);
    transition: .3s ease-in-out;
}
.web1 img{
    cursor: pointer;
    margin: 0px 30px 10px 30px;
    height: 130px;
    width: 230px;
    transition: .4s;
    border-radius: 5px;
    border: 2px solid var(--brand--color--3);
}
.web1 img:hover{
    scale: 1.2;
    box-shadow: 5px 2px 10px 5px var(--brand--color--1);
    transition: .3s ease-in-out;
}
.web2 img{
    cursor: pointer;
    margin: 0px 20px 10px 20px;
    height: 130px;
    width: 230px;
    transition: .4s;
    border: 2px solid var(--brand--color--3);
    border-radius: 5px;
}
.web2 img:hover{
    scale: 1.2;
    box-shadow: 0px 4px 10px 6px var(--brand--color--1);
    transition: .2s ease-in;
}
.web3 img{
    cursor: pointer;
    margin: 0px 20px 10px 20px;
    height: 130px;
    width: 250px;
    border: 2px solid var(--brand--color--3);
    border-radius: 5px;
    transition: .4s;
}
.web3 img:hover{
    scale: 1.2;
    box-shadow: 0px 4px 10px 6px var(--brand--color--1);
    transition: .2s ease-in;
}
.web-mobile img{
    cursor: pointer;
    margin: 0px 60px 10px 60px;
    height: 150px;
    width: 70px;
    transition: .4s;
    border: 2px solid var(--brand--color--3);
    border-radius: 5px;
}
.web-mobile img:hover{
    scale: 1.2;
    box-shadow: 0px 4px 10px 6px var(--brand--color--1);
    transition: .2s ease-in;
}
.prototype-btn a{
    margin: 10px 30px 10px 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 5px;
    color: white;
    background-color: var(--brand--color--3);
    border: 1px solid white;
    border-radius: 2px;
}
.prototype-btn a:hover{
    background-color: #2b83c2;
    transition: .1s;
}
.prototype-btn-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prototype-btn-mobile a{
    margin: 10px 0px 10px 0px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    color: white;
    background-color: var(--brand--color--3);
    border: 1px solid white;
    border-radius: 2px;
}
.prototype-btn-mobile a:hover{
    background-color: #2b83c2;
    transition: .1s;
}
/*portfolio css end*/

 /*responsive portfolio css start*/
 @media only screen and (max-width: 1024px) {
    .scroll-buttons i{
        font-size: 35px;
    }
    .portfolio{
        padding: 0% 3%;
    }
    .inner-portfolio-container{
        margin: 20px 10px ;
    }
    .prototype-btn a{
        font-size: 14px;
        width: 40%;
    }
    .prototype-btn-mobile a{
        font-size: 14px;
        padding: 5px 5px;
        width: 62%;
    }
    .card-inner{
        flex-direction: column;
        gap: 5px;
    }

}

 @media only screen and (max-width: 724px) {
    .portfolio-cards-container{
        gap: 8px;
    }
    .card-inner{
        height: 100px;
        text-align: center;
    }
    .card-inner img{
        display: none;
    }
    .description{
        display: none;
    }
    .explore-portfolio{
        padding: 5px;
        font-size: 14px;
        font-weight: 500;
        border: 2px solid var(--brand--color--2);
        border-radius: 5px;
    }
 }
/*responsive portfolio css end*/
