*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", sans-serif;
}
:root{
    --brand--color--1: #0CC0DF;
    --brand--color--2: #FFFFFF;
    --brand--color--3: #3498db;
}




/*navbar css start*/
.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-height: 4rem;
    background-color: var(--brand--color--2);
    box-shadow: 0px 8px 30px var(--brand--color--1);
}
.navbar-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0% 10% 0% 10%;
    padding: 10px;
}
#sidebar-active{
    display: none;
}
.brand-logo{
    margin-right: 20px;
}
.brand-logo img{
    cursor: pointer;
    width: 170px;
    height: 70px;
}
.links-container{
    display: flex;
}
.nav-links a{   
    font-size: 18px;
    color: black;
    padding: 10px 15px 10px 1cap    ;
    border-radius: 5px;
}
.nav-links a:hover,
.nav-links a:focus{
    background-color: var(--brand--color--1);
    color: var(--brand--color--2);
    transition: 0.2s;
}

.links-container .cv-link a{
    text-transform: none;
    font-size: 17.5px;
    color: black;
    padding: 8px;
    border-radius: 8px;
    border-color: black;
    border-style:solid;
    border-width: 2px;
    margin: 0px 3px 0px 20px
}
.links-container .cv-link a:hover{
    background-color: var(--brand--color--1);
    color: var(--brand--color--2);
    border-color: var(--brand--color--1);
    transition: .4s;   
}
.drop-menu i{
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    padding: 4px 8px 4px 8px;
    font-size: 25px;
    color: gray ;
    display: none;
}
.close-menu i{
    cursor: pointer;
    padding: 4px 8px 4px 8px;
    font-size: 25px;
    color: gray ;
    display: none;

}
.drop-menu i:hover{
    color: white;
    transition: .5s;

}
/*navbar css end*/

/*responsive navbar css start*/
@media only screen and (max-width: 1180px) {
    #sidebar-active:checked ~ .nav-links-wrapper{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        background-color: rgb(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    .nav-links-wrapper{
        position: fixed;
        top: 0;
        right: -100%;
        flex-direction: column;
        width: 300px;
        height: 100vh;
        z-index: 10;
        background-color: var(--brand--color--2 );
        transition: 0.5s ease-out;
    }  
    .links-container{
        flex-direction: column;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .nav-links a{
        color: black;
        padding: 10px 80px 10px 80px;
        border-radius: 5px;
        margin: 0px 3px 0px 3px;
    }
    .links-container .cv-link{
        margin: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .drop-menu i{
        display: block;
    }  
    .close-menu i{
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        margin: 1rem 1.8rem 0rem 0rem;
    }
    .navbar-inner{
        margin: 0rem 0.5rem 0rem 0.5rem;
    }
}

/*responsive navbar css end*/



/*download cv css start*/
.download-cv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: var(--brand--color--1);
}
.download-cv p{
    color: var(--brand--color--2);
    font-size: 24px;
    font-weight: 400;
    margin: 10px;
}
.download-btn{
    margin-top: 10px;
}
.download-btn a{
    cursor: pointer;
    color: black;
    background-color: aqua;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-style: solid;
    border-width: 2px;
    border-color: aqua;
    border-radius: 8px;
}
.download-btn i{
    font-size: 24px;
}
.download-btn a:hover{
    background-color: var(--brand--color--3);
    border-color: var(--brand--color--3);  
    color: var(--brand--color--2); 
    transition: .4s
}
/*download cv css end*/

 /*responsive portfolio css start*/
 @media only screen and (max-width: 840px) {
    .download-cv{
        padding: 0% 8% 0% 8%;
    }
    .download-cv p{
        text-align: center;
        font-size: 18px;
    }
}
/*responsive portfolio css end*/




/*copyright css start*/
.copyright{
    display: flex;
    justify-content: center;
    align-content: center;
    color: var(--brand--color--2);
    background-color: var(--brand--color--1);
}
.copyright p{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
/*copyright css end*/

 /*responsive copyright css start*/
 @media only screen and (max-width: 550px) {
    .copyright p{
        font-size: 12px;
    }
}
/*responsive copyright css end*/


