*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", sans-serif;
    background-image: url(images/1\ \(1\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
:root{
    --brand--color--1: #0CC0DF;
    --brand--color--2: #FFFFFF;
    --brand--color--3: #3498db;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-60%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.inner-hero-container {
    animation: slideInFromLeft 5s linear;
    animation-timeline: view();
    animation-range: 0% cover 40%;
}

.about-inner-container {
    animation: slideInFromLeft 5s linear;
    animation-timeline: view();
    animation-range: 0% cover 40%;
}
.about-inner-container2{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: 0% cover 40%;
}
.scroll-buttons{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: 0% cover 40%;
}



/*navbar css start*/
.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-height: 4rem;
    z-index: 1000;
}
.navbar.scrolled {
    background-color: rgb(0, 0, 0, 0.6);
    box-shadow: 0px 2px 10px var(--brand--color--1);
    transition:  background-color .4s ease-in-out;
}
.navbar-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0% 5% 0% 5%;
    padding: 10px;
    height: 100%;
}
#sidebar-active{
    display: none;
}
.brand-logo{
    margin-right: 20px;
}
.brand-logo img{
    cursor: pointer;
    width: 160px;
}
.brand-1{
    position: absolute;
    visibility: visible;
}
.navbar.scrolled .brand-1{
    visibility: hidden;
}
.brand-2{
    position: relative;
    visibility: hidden;
}
.navbar.scrolled .brand-2{
    visibility: visible;
}


/* .navbar.scrolled .brand-logo{
    background-color: black;
    transition:  background-color .8s ease-in-out;
} */
.nav-links-wrapper{
    height: 100%;
}
.links-container{
    display: flex;
    height: 100%;
}
.nav-links a{   
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding: 8px 12px 8px 12px;
    border-radius: 4px;
    transition: 0.2s;
    height: 100%;
}
.navbar.scrolled .nav-links a {
    color: white;
}

.nav-links a:hover,
.nav-links a.active{
    background-color: var(--brand--color--1);
    color: var(--brand--color--2);
    transition: 0.2s;
}

.links-container .cv-link a{
    text-transform: none;
    font-size: 15px;
    color: black;
    padding: 7px 12px 7px 12px;
    height: 100%;
    border: solid 2px black;
    border-radius: 4px;
    margin: 0px 3px 0px 20px
}
.navbar.scrolled .cv-link a {
    color: white;
    border: solid 1px white;
}
.links-container .cv-link a:hover{
    background-color: var(--brand--color--1);
    color: var(--brand--color--2);
    border-color: var(--brand--color--1);
    transition: .4s;   
}
.navbar.scrolled .drop-menu i{
    color: white;
}
.drop-menu i{
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    padding: 4px 8px 4px 8px;
    font-size: 25px;
    color: gray ;
    display: none;
}
.close-menu i{
    cursor: pointer;
    padding: 4px 8px 4px 8px;
    font-size: 25px;
    color: gray ;
    display: none;

}
.drop-menu i:hover{
    color: white;
    transition: .5s;

}
/*navbar css end*/

/*responsive navbar css start*/
@media only screen and (max-width: 1180px) {
    #sidebar-active:checked ~ .nav-links-wrapper{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        background-color: rgb(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    .navbar.scrolled .nav-links a{
        color: black;
    }
    .nav-links-wrapper{
        position: fixed;
        top: 0;
        right: -100%;
        flex-direction: column;
        width: 300px;
        height: 100vh;
        z-index: 10;
        background-color: var(--brand--color--2 );
        transition: 0.5s ease-out;
    }  
    .links-container{
        flex-direction: column;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .nav-links a{
        color: black;
        padding: 10px 80px 10px 80px;
        border-radius: 5px;
        margin: 0px 3px 0px 3px;
    }
    .navbar.scrolled .cv-link a{
        color: black;
        border: solid 2px black;
    }
    .links-container .cv-link{
        margin: 10px 3px 0px 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .links-container .cv-link a{
        margin: 0px 0px 0px 0px;
    }
    .drop-menu i{
        display: block;
    }  
    .close-menu i{
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        margin: 1rem 1.8rem 0rem 0rem;
    }
    .navbar-inner{
        margin: 0rem 0.5rem 0rem 0.5rem;
    }
}

/*responsive navbar css end*/



/*download cv css start*/
.download-cv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: var(--brand--color--3);
}
.download-cv p{
    color: var(--brand--color--2);
    font-size: 16px;
    font-weight: 400;
}
.download-btn{
    margin: 22px 0px;
}
.download-btn a{
    cursor: pointer;
    color: var(--brand--color--2);
    background-color: var(--brand--color--3);
    font-size: 16px;
    padding: 8px 15px 8px 15px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--brand--color--2);
    border-radius: 5px;
}
.download-btn i{
    font-size: 24px;
    color: var(--brand--color--2);
}
.download-btn a:hover{
    background-color: var(--brand--color--1);
    border-color: var(--brand--color--3);  
    color: var(--brand--color--2); 
    transition: .4s
}
/*download cv css end*/

 /*responsive portfolio css start*/
 @media only screen and (max-width: 840px) {
    .download-cv{
        padding: 0% 4% 0% 4%;
    }
    .download-cv a{
        font-size: 18px;
        padding: 10px 15px 10px 15px; 
    }
    .download-cv p{
        text-align: center;
        font-size: 16px;
    }
}
/*responsive portfolio css end*/




/*copyright css start*/
.copyright{
    display: flex;
    justify-content: center;
    align-content: center;
    color: var(--brand--color--2);
    background-color: var(--brand--color--1);
}
.copyright p{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
/*copyright css end*/

 /*responsive copyright css start*/
 @media only screen and (max-width: 550px) {
    .copyright p{
        font-size: 12px;
    }
}
/*responsive copyright css end*/




